{% extends 'base.html.twig' %}


{% block body %}

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-xs-12 col-md-6 col-md-offset-6">
                <div class="card">
                    <div class="card-body">
                        <form action="{{ path('login') }}" method="post">

                            <p class="h4 text-center py-4">SIGN IN</p>

                            <div class="md-form">
                                <i class="fa fa-envelope prefix grey-text"></i>
                                <input required id="username" name="_username" value="{{ last_username }}" type="email"
                                       class="form-control mb-4">
                                <label for="materialFormCardEmailEx" class="font-weight-light">Email</label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-lock prefix grey-text"></i>
                                <input required id="password" name="_password" type="password" class="form-control mb-4">
                                <label for="materialFormCardPasswordEx" class="font-weight-light">Password</label>
                            </div>

                            <div class="text-center py-4 mt-3">
                                <button class="btn btn-primary btn-block my-4 mb-4" type="submit">Sign in</button>

                                {% if error %}
                                    <small>{{ error.messageKey|trans(error.messageData, 'security') }}</small>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}