.btn {
    padding: 16px 19px !important;
    border: 0 solid transparent!important;

    transform: none!important;
    -webkit-transform: none!important;
    -moz-transform: none!important;

    text-decoration: none;
}

label {
    font-weight: 300;
}

.sidebar {
    font-family: Roboto, sans-serif;
}

.main-header {
    height: 55px;
}

.toggle .btn {
    padding: 0!important;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.toggle .toggle-off {
    margin-left: 5px!important;
}

table, thead, th, tr, td {
    font-size: 1em!important;
}

th {
    font-size: 0.9em!important;
    font-weight: 600!important;
    background: black!important;
}

th a {
    color: white!important;
}